.sidebar {
  width: 300px;
  background-color: #048c7e;
  color: white;
  height: 100vh;
  padding-bottom: 20px;

  .logo {
    font-size: 1.5rem;
    width: 100%;
    padding: 10px;
    img{
      width: 200px;
      object-fit: contain;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    padding: 15px;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;

      margin-bottom: 5px;

      @media (min-width: 768px) {
        margin-bottom: 15px;
      }

      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }
      &:hover {
        background-color: #ffffff33;
      }
    }
  }
}
