$padding: 0px 100px;
$font: "Poppins", sans-serif;

.userDashboard {
  .userDashboardContainer {
    padding: $padding;

    .mainDashboard {
      display: flex;
      padding: 40px 0px;
      font-family: $font;

      .topSec {
        display: flex;
        width: 100%;
        gap: 10px;

        .left {
          width: 75%;
          padding: 40px 50px;
          display: flex;
          border-radius: 10px;
          gap: 70px;
          box-shadow: 0px 1px 15px 0px #0000002e;

          .profile {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 18px;

            .name {
              display: flex;
              gap: 5px;

              h3 {
                font-size: 43px;
                font-weight: 500px;
                text-transform: uppercase;
              }
            }

            .email,
            .phone {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 18px;
              color: #4F4E4E;

              svg {
                font-size: 20px;
              }
            }

            button {
              width: max-content;
              background-color: #0059de;
              font-size: 18px;
              color: #fff;
              padding: 5px 10px;
              transition: 0.35s all ease-in-out;

              &:hover {
                background-color: #fff;
                color: #0059de;
                scale: 1.1;
              }
            }
          }
        }

        .right {
          width: 25%;
          padding: 15px;
          box-shadow: 0px 1px 15px 0px #0000002e;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 30px;

          h2 {
            font-size: 30px;
            font-weight: 600;
          }

          .links {
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
            gap: 20px;

            .link {
              border: 2px solid #0059de;
              padding: 6px 30px;
              border-radius: 10px;
              color: #0059de;
              font-size: 18px;
              font-weight: 500;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              width: 210px;

              svg {
                font-size: 20px;
              }
            }
          }
        }
      }


    }

    .widgets {
      display: flex;
      gap: 10px;
    }

    .welcomeContainer {
      width: 100%;
      box-shadow: 0px 1px 15px 0px #0000002E;
      padding: 30px;
      border-radius: 10px;
      font-family: $font;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 10px;
      


      h2{
        font-size: 34px;
        font-weight: 500;

        span{
          text-transform: uppercase;
        }
      }
      p{
        font-size: 19px;
      }
      button{
        background-color: greenyellow;
        padding: 10px 20px;
        width: max-content;
        border-radius: 10px;
      }
    }
  }
}